.section {
  position: relative;
  height: 100vh;
  z-index: 50;
}

@media (max-width: 720px) {
  .section {
    height: auto;
    padding: 40px 0;
  }
}

.overlay {
  background-color: rgb(26, 171, 164);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  transform-origin: left;
  left: 0;
  z-index: -1;
}

.title {
  font-size: 48px;
  text-align: center;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 720px) {
  .links {
    flex-direction: column;
  }
}

.qr {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex: 1;
  max-width: 300px;
}

.link__title {
  font-size: 24px;
  text-align: center;
}

.list__documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  list-style: none;
  margin-bottom: 120px;
}

.list__documents a {
  color: white;
}
