.section {
  gap: 40px;
}

.drag__container {
  display: flex;
  gap: 20px;
  width: 800px;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 40px;
}

@media (max-width: 720px) {
  .drag__container {
    flex-direction: column;
  }
}

.box {
  background-color: transparent;
  border: 10px solid red;
  max-width: 120px;
  width: 100%;
  height: 100%;
  max-height: 120px;
  border-radius: 12px;
  opacity: 80%;
  cursor: grab;
}

.box:nth-child(2) {
  border-radius: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 130px solid red;
  position: relative;
}

.box:nth-child(2)::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 110px solid black;
  position: absolute;
  bottom: -125px;
  left: 50%;
  transform: translateX(-50%);
}

.box:nth-child(1) {
  border-radius: 50%;
}

.box:nth-child(3) {
  border-radius: 0;
}
