.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  align-items: center;
}

.list__item {
  background-color: rgb(13, 187, 111);
  border-radius: 10px;
  cursor: grab;
  padding: 10px 24px;
  color: white;
  font-size: 32px;
  list-style: none;
  flex-shrink: 0;
  width: 100px;
  text-align: center;
}
